@import '../abstracts/variable';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    font-size: 62.2%;
}

body{
    font-family: "Lato", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-grey;  
    padding: 3rem;
}