@import '../abstracts/variable';

.header{
    height: 95vh;
    background-image: 
        linear-gradient(to right bottom,rgba($color-primary-light, 0.8),rgb($color-primary-dark, 0.8)), 
        url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;
    .logo-box{
        position: absolute;
        top: 1.6rem;
        left: 1.6rem;
    }
    .logo{
        height: 3.6rem;
    }
    .menu-box{
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        background-color: $color-white;
        display: flex;
        border-radius: 50%;
        padding: 0.8rem;
        .menu{
            font-size: 2.6rem;
        }
    }
}