@import '../abstracts/variable';
@import '../abstracts/mixins';


.header{
    height: 85vh;
    background-image: 
        linear-gradient(to right bottom,rgba($color-primary-light, 0.8),rgb($color-primary-dark, 0.8)), 
        url('../../img/hero-small.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        height: 85vh;
    }

    @media (min-resolution: 192dpi) and (min-width: 37.5em), 
    (-webkit-min-devide-pixel-ratio: 2) and (min-width: 37.5em), //for safari
    (min-width: 125em){
        background-image: 
        linear-gradient(to right bottom,rgba($color-primary-light, 0.8),rgb($color-primary-dark, 0.8)), 
        url('../../img/hero.jpg');
    }

    @include respond(phone){
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    .logo-box{
        position: absolute;
        top: 1.6rem;
        left: 1.6rem;
    }
    .logo{
        height: 3.6rem;
    }
    .menu-box{
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        background-color: $color-white;
        display: flex;
        border-radius: 50%;
        padding: 0.8rem;
        .menu{
            font-size: 2.6rem;
        }
    }
}